/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
	font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

a:focus {
	outline: 1px dotted;
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
	font-size: 25px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 17px;
}

h6 {
	font-size: 15px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

li {
	margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
	margin-bottom: 20px;
}

.clear {
	display:block; height:0; clear:both; visibility:hidden;
}

/* --------- Design ---------- */

h2 { 
	font-family: 'Cabin', arial, serif; 
	margin-bottom:0.5em;
	margin-top:0;
	text-shadow: 0px 2px 3px #555;
	background:#424242;
	padding:10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}



.head {
	background:#99faff;
	border-bottom:1px solid #68aaad;
	padding: 10px;
}

.head a {
	float:right;
}

.container {
	width:940px;
	margin-left:auto;
	margin-right:auto;
}

.section {
	margin:1em 0 1em 0;
	background:#d8e1e1;
	color:#171717;
	-webkit-box-shadow: 0px 2px 3px #555;
	-moz-box-shadow: 0px 2px 3px #555;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding-bottom: 10px;
	
}

.section p {
	margin: 10px;
}
.header h1 {
	font-size:24px;
}

.intro {
	
	padding:15px;
	margin:10px 0;
	background:#a7a7a7;
	border-radius: 10px;
	
}
.intro h1 {
	color:#4a4a4a;
	border-bottom: 1px solid #c4c4c4;
}
.intro h3 {
	font-size:26px;
}

.quicktext {
	float:left;
	width: 450px;
	padding-right:25px;
	color:#1c1c1c;
	text-shadow: 0px 1px 0px #dcdcdc;
	border-right: 1px solid #c4c4c4;
}

#auto_slide_show {
	float:right;
}

.section.login {
	font-size:2em;
	font-weight:bold;
}

.logo {
	float:left;
	margin-left:-10px;
	margin-top:-15px;
	width:64px;
	height:64px;
}

.headlog {
	text-shadow: 0px 2px 3px #555;
	padding:5px;
	border-radius: 5px;
	border: 1px solid #000;
	margin:4px;
	/* box-shadow: 0px 2px 10px #555; */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04)); /* webkit */
}

.headlog a {
	font-family: 'Cabin', arial, serif;
	font-size: 1.7em;
	font-weight:bold;
	color:#730600;
	text-decoration:none;
	display:block;
	text-align:center;
}
.headlog:hover {
	box-shadow: 0px 2px 3px #555;
}
.headlog a:hover {
	text-decoration:underline;
}

