<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Money Stew</title>
	<link rel="stylesheet" type="text/css" href="/js/ext/resources/css/ext-all.css" />
	<link rel="stylesheet" type="text/css" href="/css/buttons.css" />
	<link rel="stylesheet" type="text/css" href="/css/icons.css" />
	{% for scrpt in scripts_for_layout %}
	<script src="{{ scrpt }}" type="text/javascript" charset="utf-8"></script>
	{% endfor %}
</head>
<body>
{{content_for_layout}}
</body>
</html>