<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Money Stew</title>
		<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/css/home.css" />
	</head>
	<body>
		<div class="head">
			<a href="{{login_url}}"><b>Login with google</b></a>
			<div class="clear">&nbsp;</div>
		</div>
		<div class="container">
		
		<div class="section content">
			
			<h2>What is Money Stew ?</h2> 
			<img src="/img/money_stew_logo_128.png" class="logo" />
			<p> 
				<br/>
				<h3 class="tagline">MoneyStew will help you keep your money and bills a bit more organized
				and keep a better idea on just how much money you have.</h3>
				<br/>
			</p>
			<p>
				<b>MoneyStew will help you keep track of repeating transactions</b>, 
				what days they are due, and let you know if you will have enough 
				money to pay all your bills before you get paid again
				(although I know it sucks when then answer is <i>no</i>). It will help
				you get a grip on how much money you already spend on bills from
				month to month and how much you can spend on beer and bacon. <i>(you 
				should always budget for beer and bacon)</i>
			</p>
			<p>
				<b>Why use MoneyStew?</b><br/>
				If you have trouble keeping track of your finances and
				refuse to balance your checkbook weekly, then MoneyStew is for you.
				I built MoneyStew to help me keep track of what bills I have to pay
				in the next few weeks and I don't want to waste time updating it each
				week. I just wanted to login, and see if I have enough money to make it
				without running my account dry.
			</p>
			<p>
				<b>How do I use MoneyStew?</b><br/>
				Just login and add all your repeating payments and then the next time
				you want to buy a new tv, computer or yearly supply of bacon, you pull
				up MoneyStew and check out if you have enough money to pay your bills
				and purchase that scrumptious chunk of meat before you get paid again.
				You dont have to keep updating, well, when your payments change you do.
			</p>
			<p>
				I built money stew to help me keep track of my own money and I figured
				it might be something other people may find useful. I found myself
				continually making spread sheets of my repeating transactions to help
				me budget my money and determine how much I could actually spend. So
				I <b>finally</b> decided to make a small application that would let 
				me jump in and take a look at what I had going on.
			</p>
			<p>
				
			</p>
		</div>
		
		<div class="section what-ms-is-not">
			<h2>What MoneyStew Is Not</h2>
			<p>
				MoneyStew is a simple tool to help keep a bit more organized, it is not
				really intentended to do much more than keep a list of your bills and income all in one place.
				
			</p>
			<ul>
				<li>
					<b>A detailed finacial calculator</b>-MoneyStew isn't going to help
					tell you how to spend your money, mostly it will just tell you when
					 to spend your money
				</li>
				<li>
					<b>A full money managment application</b> - MoneyStew isn't like 
					Mint.com or Quicken, it is just a simple tool to store your repeating
					income and payments.
				</li>
				<li>
					<b>A Giant Dragon</b> - MoneyStew is not a large dragon that will
					 destroy cities <i>(yet)</i>
				</li>
			</ul>
		</div>
		
		<div class="section login">
		Anyway, use your <a href="{{login_url}}"><b>google login</b></a> and check it out, it may help you.
		</div>
		
		<div class="foot">
			<h2>Privacy?</h2>
			<p>There isn't any sharing of your information with anyone else, ever, 
			I won't ever sell your info to anyone. To put it simply, the information
			your provide is stored for the exclusive use of the MoneyStew application.</p>
			<b>Btw, the <a href="https://github.com/scottfennell/MoneyStew">source is here</a> if you are really worried.</b> 
			<p>You can contact me at scott@sinvertical.com if you have any real concerns, questions, or thoughts.</p>
		
		</div>
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-7186675745230400";
		/* Money Stew - Bottom */
		google_ad_slot = "0948620854";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
		
		</div>
	</body>
</html>